* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  width: 106.75rem;
  flex-basis: 20rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

button {
  width: 25rem;
  height: 5rem;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
  color: white;
  font-size: 1.25rem;
  border: none;
}

button{
  background-color: crimson;
}
.afterclick button{
  background-color: indigo;
}

